<!--The content below is only a placeholder and can be replaced.-->
<div [ngClass]="toggleMenuStatus ? 'toggled' : ''" class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
      <div class="text-center">
        <img src="assets\images\logo.png" class="img-fluid rounded" width="240" alt="Campus Saldavel System">
      </div>
    </div>
    <div class="list-group list-group-flush">
      <a routerLink="galeria" class="list-group-item list-group-item-action bg-light">GALERIAS</a>
      <a routerLink="foto" class="list-group-item list-group-item-action bg-light">FOTOS</a>
      <a routerLink="evento" class="list-group-item list-group-item-action bg-light">EVENTOS</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
    
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" (click)="toggleMenu()" id="menu-toggle">
          <fa-icon [icon]="faBars"></fa-icon>
      </button>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>